<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="WorkshopsSuite" time-out="10000" verbose="1">
    <test name="WorkshopsTests">
        <groups>
            <run>
                <include name="Tasks"/>
            </run>
        </groups>
        <classes>
            <class name="magzaba.com.github.CompartmentTest"></class>
        </classes>
    </test>
</suite>
